footer{
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items:center;
    background-color:#11b2aa;
    padding: 2rem 1rem;
    height: 8em;
    color: rgb(219, 219, 219);
   
}
.footer_sec1 {  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
   
    
}
.footer_sec1 div{  
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
   
}
.footer_sec1 div p{
      
    padding: 10px;  
   
}
.footer_sec2 {  
    display: flex;
    flex-direction: row;
    align-items: center;  
  
    
}
.footer_sec2 p{    
    padding:  0 10px;  
    
}
a{
    text-decoration: none;
    color: rgb(231, 231, 231);;
}