footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;   
    background-color:#094d49;
    height: 100px;
   

}

footer div{
    display: flex;
    justify-content: space-evenly;
    color: rgb(9, 29, 29);
    transition: 1s;
}
footer div p{
    margin-left: 5px;
}
footer div:hover{
    color: #607e77;
    cursor: pointer;
}



